.wrapper{
  display: flex;
}
.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side_head{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_name{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.chat_make{
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}
.rooms{
  height: calc(100vh-100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a {
  color: white;
  text-decoration: none;
}
.chat{
  width: calc(100vw-300px);
  background-color: #ffffff;
}
.chat_head{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}
.chat_main{
  height: calc(100vh-100px-90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.chat_bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
