.wrapper{
  display: flex;
}
.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side_head{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_name{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.chat_make{
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}
.rooms{
  height: calc(100vh-100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a {
  color: white;
  text-decoration: none;
}
.chat{
  width: calc(100vw-300px);
  background-color: #ffffff;
}
.chat_head{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.chat_title{
  color: #333;
  font-size: 24px;
  padding-top: 36px;
}
.chat_fin{
  margin-top: 40px;
}
.chat_fin a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}
.chat_main{
  height: calc(100vh-100px-90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}
.message{
  margin: 10px 0 0 0;
}
.upper-message{
  display: flex;
}
.talker{
  color: #434a54;
  font-size: 16px;
}
.date{
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.dialog{
  margin-top: 10px;
}
.message-content{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.chat_bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.text-box{
  background-color: white;
  width: 100%;
  display: flex;
}
.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}